################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NLayerProject/.vs/NLayerProject/v17/.suo
